//COLORS:

$mc-black: #000;
$mc-white: #fff;
$mc-gray: #eee;
$mc-light-gray: #f7f7f7;
$mc-red: red;
$mc-body-bgc: #4f4f4f;
$mc-light-green: #0aaa5f;
$mc-darker-green: #27db81;

//SELECTORS:

.black-wrapper {
  background-color: $mc-black;
}

.gray-wrapper {
  background-color: $mc-gray;
}

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000;
}

.display-none {
  display: none;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
}

.relative-7rem {
  position: relative;
  top: 7rem;
}

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.text-transform {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cursor-pointer {
  cursor: pointer;
}

@mixin flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}
