.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.main-movies {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  height: auto;
  justify-content: space-around;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 7rem; }
  .main-movies__section {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
    height: auto; }
  .main-movies__title {
    flex: 1 0 600px;
    max-width: 600px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .main-movies__item {
    width: 300px;
    height: 23rem; }
  .main-movies__item-img {
    width: 300px;
    height: 23rem; }
