@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Karla', sans-serif; }

a {
  color: #000; }

html, body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  background: #4f4f4f;
  display: flex;
  flex-flow: column wrap;
  min-height: 100%;
  height: auto; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.moviecrew-header {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #eee;
  align-items: center;
  height: 7rem;
  position: relative; }
  .moviecrew-header__logo-wrapper {
    margin: 0.75rem 0; }
  .moviecrew-header__logo {
    width: 10rem; }
  .moviecrew-header__nav-tab {
    display: flex;
    flex-flow: row wrap; }
  .moviecrew-header__list {
    display: flex;
    flex-flow: row wrap; }
  .moviecrew-header__list-item {
    margin-left: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold; }
    .moviecrew-header__list-item a:hover {
      border: none;
      color: #0aaa5f;
      padding: 0.25rem;
      transition: ease 0.3s;
      box-shadow: 2px 2px 6px 4px #0aaa5f; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.main-movies {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: #fff;
  position: relative;
  top: 7rem; }
  .main-movies__title {
    flex: 1 0 1200px;
    max-width: 1200px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .main-movies__items {
    flex: 1 0 1200px;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
  .main-movies__item {
    position: relative;
    flex: 1 0 600px;
    max-width: 600px;
    height: 24rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f7f7f7;
    color: #000; }
  .main-movies__item-img-content {
    width: 250px;
    height: 375px;
    line-height: 0;
    padding: 0;
    padding-left: 0.75rem; }
  .main-movies__item-img {
    flex: 1 0 300px;
    max-width: 300px;
    width: 250px;
    height: 375px;
    align-self: center; }
  .main-movies__item-desc-content {
    width: 350px;
    height: 375px;
    position: relative;
    padding: 10px 0px 16px 30px;
    overflow: hidden; }
  .main-movies__item-title {
    font-weight: bold;
    font-size: 1.125rem;
    display: block; }
  .main-movies__item-date {
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 1.25rem;
    margin-top: .5rem;
    font-size: 0.9rem; }
  .main-movies__item-more {
    position: absolute;
    bottom: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.75rem;
    width: 280px;
    border-top: 1px solid #4f4f4f;
    margin-top: 1rem;
    padding-top: 1.4rem; }
  .main-movies__item-vote {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .main-movies__item-vote .main-movies__item-vote-heart {
      display: inline-block;
      color: #d61111;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.4rem;
      cursor: pointer; }
  .main-movies__item-vote-average {
    margin-right: 1.25rem;
    background-color: #0aaa5f;
    border: 1px solid #0aaa5f;
    border-radius: 100%;
    padding: 0.5rem;
    font-weight: 600;
    color: #eee;
    cursor: pointer; }
  .main-movies__item-desc {
    margin: 0;
    padding: 0;
    line-height: 1.125rem;
    font-size: 0.825rem;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.35rem; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.search-form {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  height: auto; }
  .search-form__search {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 16px 4px #000;
    color: #0aaa5f;
    font-weight: 500;
    font-size: 1.4rem;
    font-style: italic; }
  .search-form__icon {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    font-size: 1.4rem;
    margin: .5rem .5rem;
    color: #27db81; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.login {
  position: absolute;
  right: -14rem; }
  .login__button {
    color: #fff;
    background-color: #0aaa5f;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer; }
    .login__button:hover {
      background-color: #862c99;
      transition: all 0.8s; }
  .login__icon {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 15% auto;
    cursor: pointer;
    transition: transform 0.2s ease; }
    .login__icon:hover {
      transform: scale(0.9); }
    .login__icon:before, .login__icon:after {
      line-height: 0.5; }
    .login__icon:before {
      content: "☰";
      display: block; }
    .login__icon:after {
      content: "&times;";
      font-size: 1.5rem;
      font-weight: 800;
      display: none; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

.moviecrew-footer {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eee;
  align-items: center;
  height: 7rem; }

.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.4rem; }

h3 {
  margin: 0;
  padding: 0; }

.movie-details {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  position: relative; }
  .movie-details__background-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 5rem; }
  .movie-details__section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0 0.5rem 0 0.5rem; }
  .movie-details__title {
    display: flex;
    align-items: flex-end;
    flex: 1 0 1200px;
    max-width: 1200px;
    font-size: larger;
    margin-bottom: 0.25rem; }
  .movie-details__movie-title {
    padding: 0px;
    margin: 0px; }
  .movie-details__movie-title.space {
    margin-right: .25rem; }
  .movie-details__movie-title.font-style {
    font-weight: 400;
    font-style: oblique; }
  .movie-details__original-title {
    display: flex;
    align-items: flex-end;
    opacity: 0.6;
    font-size: x-small; }
  .movie-details__movie-date {
    opacity: 0.6;
    font-size: 1.5rem;
    font-weight: 400; }
  .movie-details__poster {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
  .movie-details__item-img {
    width: 300px;
    height: 450px; }
  .movie-details__desc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding-left: 2.5rem;
    font-weight: 400;
    font-size: large; }
  .movie-details__movie-info {
    margin-top: 5.5rem; }
  .movie-details__movie-overview {
    margin-top: 8px; }
  .movie-details__featured {
    margin-top: 1.5rem;
    margin-bottom: 8px; }
  .movie-details__crew {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: smaller; }
    .movie-details__crew__member {
      width: 33%;
      margin-bottom: 2rem; }
  .movie-details__font-bold {
    font-weight: bold;
    font-size: 1.03rem; }
  .movie-details__item-link {
    color: #fff; }
  .movie-details__movie-handlers {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 0; }
  .movie-details__chart {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .movie-details__score {
    position: absolute;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 23px; }
