.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.moviecrew-header {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #eee;
  align-items: center;
  height: 7rem;
  position: relative; }
  .moviecrew-header__logo-wrapper {
    margin: 0.75rem 0; }
  .moviecrew-header__logo {
    width: 10rem; }
  .moviecrew-header__nav-tab {
    display: flex;
    flex-flow: row wrap; }
  .moviecrew-header__list {
    display: flex;
    flex-flow: row wrap; }
  .moviecrew-header__list-item {
    margin-left: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold; }
    .moviecrew-header__list-item a:hover {
      border: none;
      color: #0aaa5f;
      padding: 0.25rem;
      transition: ease 0.3s;
      box-shadow: 2px 2px 6px 4px #0aaa5f; }
