//COLORS:

$mc-black: #000;
$mc-white: #fff;
$mc-gray: #eee;
$mc-body-bgc: #4f4f4f;

//SELECTORS:

.black-wrapper {
    background-color: $mc-black;
}

.gray-wrapper {
    background-color: $mc-gray;
}