@import './base_styles/constants.scss';

.main-movies {
    @include flex-container;
    padding-top: 3rem;
    padding-bottom: 5rem;
    height: auto;
    justify-content: space-around;
    color: $mc-white;
    text-transform: uppercase;
    position: relative;
    top: 7rem;

    &__section{
        display: flex;
        flex-flow: row wrap; 
        max-width: 600px;
        height: auto;
        // overflow: hidden;
    }

    &__title{
        flex: 1 0 600px;
        max-width: 600px;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__item {
        width: 300px;
        height: 23rem;
    }

    &__item-img{
        width: 300px;
        height: 23rem;
        //transition: width 2s;

        &:hover{
            //width: 320px;
            //height: 23.25rem;
        }
    }
}