.black-wrapper {
  background-color: #000; }

.gray-wrapper {
  background-color: #eee; }

.black-shadow-wrapper {
  box-shadow: 2px 2px 2px 2px #000; }

.display-none {
  display: none; }

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }

.relative-7rem {
  position: relative;
  top: 7rem; }

.dots-wrapper {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p-fixed {
  line-height: 1rem;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
  white-space: normal; }

.text-transform {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.show-vote-absolute {
  position: absolute;
  bottom: 0;
  right: 0; }

.cursor-pointer {
  cursor: pointer; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.4rem; }

h3 {
  margin: 0;
  padding: 0; }

ol.movie-details__crew li:nth-child(n+4) p:first-child {
  margin-top: 2rem; }

.movie-details {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  position: relative; }
  .movie-details__background-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .movie-details__section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0 0.5rem 0 0.5rem; }
  .movie-details__title {
    display: flex;
    align-items: flex-end;
    flex: 1 0 1200px;
    max-width: 1200px;
    font-size: larger;
    margin-bottom: 0.25rem; }
  .movie-details__movie-title {
    padding: 0px;
    margin: 0px; }
  .movie-details__movie-title.space {
    margin-right: .25rem; }
  .movie-details__movie-title.font-style {
    font-weight: 400;
    font-style: oblique; }
  .movie-details__original-title {
    display: flex;
    align-items: flex-end;
    opacity: 0.6;
    font-size: x-small; }
  .movie-details__movie-date {
    opacity: 0.6;
    font-size: 1.5rem;
    font-weight: 400; }
  .movie-details__poster {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
  .movie-details__item-img {
    width: 300px;
    height: 450px; }
  .movie-details__desc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding-left: 2.5rem;
    font-weight: 400;
    font-size: large; }
  .movie-details__movie-info {
    margin-top: 5.5rem; }
  .movie-details__movie-overview {
    margin-top: 8px; }
  .movie-details__featured {
    margin-top: 1.5rem;
    margin-bottom: 8px; }
  .movie-details__crew {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: smaller; }
    .movie-details__crew__member {
      width: 33%; }
  .movie-details__font-bold {
    font-weight: bold;
    font-size: 1.03rem; }
  .movie-details__item-link {
    color: #fff; }
  .movie-details__movie-handlers {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 0; }
  .movie-details__chart {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .movie-details__score {
    position: absolute;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 23px; }
